/**
 *   Typography
 */
body {
  .serif;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  .sans-serif;
}

#page-wrapper {
  
  a, a:link, a:visited {
    color: #27638C;
    text-decoration: none;
  }
  a:hover, a:focus, a:active {
    color: #619ec8;
    text-decoration: underline;
  }
  
  p, li, th, td {
   font-size: 13px; 
  }
  
  h1 {
    border-bottom: 1px solid #D6DDB9;
    clear: left;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 5px;
  }

  h2 {
    border-bottom: 1px solid #d6ddb9;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
    a:hover, a:focus, a:active {
      color: #619CBE;
      text-decoration: none;
    }
  }
  
  ul {
    margin: 0px 0 10px 20px;
    padding: 0;
    li {
      background: url("../images/green-bullet.png") no-repeat 0 2px;
      list-style: none;
      list-style-image: none;
      margin-bottom: 5px;
      padding: 0 0 0 14px;
    }
    ul {
      margin: 5px 0 5px 10px;
    }
  }
  ol {
    margin: 0px 0 10px 20px;
    padding: 0;
    ol {
      margin: 5px 0 5px 10px;
    }
  }

  blockquote {
    background: url("../images/close-quote.png") no-repeat 100% 100%;
    color: #5A6A78;
    margin: 10px 0;
    p {
      font-style: italic;
      margin: 0;
      padding: 8px 20px;
    }
    p:first-child {
      background: url("../images/open-quote.png") no-repeat 0 100%;
      padding: 0 0 0 20px;
    }
    a:link {
      text-decoration: underline;
    }
  }
  
  hr {
    border: 1px solid #D6DDB9;
  }


}


/**
 *   Section Headers
 */
#block-marina-page-title {
  h1 {
    margin-top: 0px;
  }
}

.path-frontpage {
  h1 {
    display: none;
  }
}

#sidebar-first,
#sidebar-second {
  h2 {
    margin-top: 0px;
  }
}


/**
 *   Primary Menu
 */
#block-marina-main-menu {
  overflow: visible;
  position: relative;
  z-index: 101;
  
  h2 {
    border: none;
    margin: 0;
  }
  
  ul {
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    width: auto;
    margin: 0;
    li {
      background-image: none;
      float: left;
      display: block;
      position: relative;
      font-size: 12px;
      margin: 0 4px 0 0;
      padding: 0;
      a {
        background-color: #e1e1e1;
        border: none;
        color: #154B70;
        display: block;
        padding: 5px 10px 5px 10px;
        text-decoration: none;
        border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        &:hover,
        &:active {
          background-color: #b5ee48; /* old browsers */
          background-image: linear-gradient(
            top, 
            #b5ee48 0%, 
            #95cf1a 40%,
            #95cf1a 100%
            ); /* w3c */
          background-image: -o-linear-gradient(
            top, 
            #b5ee48 0%,
            #95cf1a 40%, 
            #95cf1a 100%
            ); /* opera */
          background-image: -webkit-gradient(
            linear, left top, left bottom, 
            from(#b5ee48),
            to(#95cf1a), 
            color-stop(40%, #95cf1a)
            );  /* webkit */
          background-image: -moz-linear-gradient(
            top, 
            #b5ee48 0%, 
            #95cf1a 40%,
            #95cf1a 100%
            ); /* firefox */ 
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
} 


/**
 *   Breadcrumbs
 */
#block-marina-breadcrumbs {
  height: 20px;
  margin-bottom: 20px;
  ol {
    margin: 0px;
    padding: 0px;
    li {
      float: left;
      list-style: none;
      font-size: 11px;
      margin: 0px;
      padding: 0px;
      a {
        
      }
    }
  }
}


/**
 *   Local Tasks
 */
#block-marina-local-tasks {
  background-color: transparent;
  height: 20px;
  margin: 20px 0;
  padding: 0;
  ul {
    border-bottom: 1px solid #bbb;
    clear: both;
    float: left;
    margin: 0;
    padding: 0 10px;
    li {
      background-image: none;
      border-style: none;
      display: inline;
      float: left;
      font-size: 13px;
      font-weight: bold;
      list-style: none;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
      margin: 0 10px;
      padding: 0;
      a {
        color: #000;
        float: right;
        margin: 0;
        padding: 0 0 6px 0;
        &:hover,
        &:active,
        &.is-active {
          border-bottom: 4px solid #94CE18;
          color: #4A95C8;
          text-decoration: none;
          padding-bottom: 2px;
        }
      }
    }
  }
}
