/**
 *   HTML styles
 */
body {
  margin: 0px;
  padding: 0px;
}


/**
 *   Main containers
 */
#header-top {
  background: #e1e1e1;
  border-bottom: 1px solid #ccc;
}

#header {
  background: #fff;
}

#main-menu {
  
}

#preface-top {
  .blue-region;
  padding: 30px 0 0 0;
}

#sidebar-first {
  
}

#main-wrapper {
  .green-region;
  padding: 40px 0 0 0;
}

#preface-bottom {
  
}

#main {
  
}

#help {
  
}

#sidebar-second {
  
}


#postscript-first {
  
}

#postscript-bottom {
  .blue-region;
  padding: 20px 0;
}

#footer {
  
}


/**
 *   Layout classes
 */
.container {
  width: 960px;
  margin: 0px auto;
}

