/**
 *   HTML styles
 */
body {
  background: #F4F7E7;
  margin: 0px;
  padding: 0px;
}


/**
 *   Main containers
 */
#header-top {
  background: #e1e1e1;
  border-bottom: 1px solid #ccc;
}

#header,
#main-menu {
  background: #fff;
}

#preface-top {
  .blue-region;
  padding: 30px 0 0 0;
}

#main-wrapper {
  .green-region;
  padding: 40px 0 0 0;
}

#sidebar-first {
  width: 240px;
  float: left;
  .sidebar {
    padding-right: 10px;
  }
}

#preface-bottom,
#main,
#postscript-top {
  width: 720px;
  float: left;
}

#content {
  width: 480px;
  float: left;
}

#sidebar-second {
  width: 240px;
  float: right;
  .sidebar {
    padding-left: 10px;
  }
}

#postscript-bottom {
  .blue-region;
  padding: 20px 0;
}

#footer {
}


/**
 *   Layout classes
 */
.container {
  width: 960px;
  margin: 0px auto;
}


/**
 *   Variant layouts
 */
.layout-sidebar-first {
  #content {
    width: 720px;
    float: left;
  }
  #sidebar-second {
    display: none;
  }
}


/**
 *   Mobile layouts
 */
@media (max-width: 767px) {
  /* Phone */
  #sidebar-first,
  #preface-bottom,
  #main,
  #postscript-top,
  #content,
  #sidebar-second {
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* Tablet */
}
@media (min-width: 992px) {
  /* Laptop */
}
@media (min-width: 1200px) {
  /* Desktop */
}
